<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjx.social.mapper.ConditionMapper">
    <insert id="addCondition" parameterType="com.cjx.social.entity.Condition">
        insert into t_condition(text,photo,time,place) values(#{text},#{photo},#{time},#{place})
    </insert>
</mapper>